{% import 'macros/macros.jinja2' as fn %}
model {{ network.name }}
package Medium = Buildings.Media.Air "Medium model";
package MediumW = Buildings.Media.Water "Medium model";
{%- set windows = []	 -%}
{% for node in network.graph.nodes %}
    {% if node.type == "Window" and node.construction.name not in windows %}
        {{ fn.create_glass(node.construction) }}
        {{ windows.append(node.construction.name) or "" }}
    {% endif %}
{% endfor %}
{% set constructions = []	 %}
{%- for node in network.graph.nodes -%}
    {% if node.type not in ("Space" , "Window" , "Occupancy" , "Weather", "Emission", "Valve", "Pump", "Boiler","SplitValve", "ThreeWayValve") and node.construction.name not in constructions %}
        {{ fn.create_construction(node.construction) }}
        {{ constructions.append(node.construction.name) or "" }}
    {% endif %}
{%- endfor %}
{%- for node in network.graph.nodes -%}
    {%- if node.type == "Space" -%}
        {{ fn.space_builder(node) }}
    {%- endif %}
{%- endfor %}
{%- for node in network.graph.nodes -%}
    {#line break#}
    {%- if node.type == "InternalElement" -%}
        {{ fn.create_internal_wall(node) }}
    {%- endif %}
        {%- if node.type == "Occupancy" -%}
        {{ fn.create_occcupancy(node) }}
    {%- endif %}
            {%- if node.type == "Weather" -%}
        {{ fn.create_weather(node) }}
    {%- endif %}
                {%- if node.type == "Emission" -%}
        {{ fn.create_emission(node) }}
    {%- endif %}

                {%- if node.type == "Pump" -%}
        {{ fn.create_pump(node) }}
    {%- endif %}

                {%- if node.type == "Boiler" -%}
        {{ fn.create_boiler(node) }}
    {%- endif %}
                    {%- if node.type == "Valve" -%}
        {{ fn.create_valve(node) }}
    {%- endif %}
                        {%- if node.type == "SplitValve" -%}
        {{ fn.create_split_valve(node) }}
    {%- endif %}
                            {%- if node.type == "ThreeWayValve" -%}
        {{ fn.create_three_way_valve(node) }}
    {%- endif %}
{%- endfor %}
equation
{%- for edge in network.edge_attributes -%}
    {#line break#}
    {{ fn.connect(edge) }}
{%- endfor %}

end {{ network.name }};
