{% import 'Trano.jinja2' as Trano %}
{% import 'mpc.jinja2' as mpc %}
package {{ package_name }}
{{ Trano.Trano_library(None, None) }}

{{ mpc.building_model(building) }}
{% if runnable %}

{{ mpc.runnable_model(building, runnable) }}
{% endif %}
end {{ package_name }};
