name: Tests runner

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Poetry
      uses: snok/install-poetry@v1

    - name: Install dependencies
      run: poetry install
    - name: Install nox dependencies
      run: poetry run nox -s install
    - name: Linting & mypy
      run: poetry run nox -s linting
    - name: Run tests
      run: poetry run nox -s tests

